@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 5%, 98%;
    /* Lighter shade for background */
    --foreground: 240, 10%, 20%;
    /* Darker shade for text and elements on light background */
    --card: 51, 93%, 66%;
    /* Primary color for card backgrounds */
    --card-foreground: 279, 52%, 37%;
    /* Secondary color for text or elements on card */
    --popover: 240, 100%, 100%;
    /* Light shade for popover backgrounds */
    --popover-foreground: 240, 10%, 20%;
    /* Dark shade for text on popover */
    --primary: 51, 93%, 66%;
    /* Primary brand color */
    --primary-foreground: 0, 0%, 0%;
    /* High contrast for text on primary color */
    --secondary: 279, 52%, 37%;
    /* Secondary brand color */
    --secondary-foreground: 240, 100%, 100%;
    /* High contrast for text on secondary color */
    --muted: 240, 4.8%, 95.9%;
    /* Soft shade for less important elements */
    --muted-foreground: 240, 3.8%, 46.1%;
    /* Slightly darker shade for text on muted background */
    --accent: 51, 50%, 60%;
    /* Accent color derived from primary */
    --accent-foreground: 279, 30%, 40%;
    /* Accent text color, softer version of secondary */
    --destructive: 0, 72.22%, 50.59%;
    /* Red shade for errors or warnings */
    --destructive-foreground: 0, 0%, 98%;
    /* Contrast color for text on destructive background */
    --border: 51, 30%, 80%;
    /* Border color derived from primary */
    --input: 240, 5%, 95%;
    /* Input fields background, very light */
    --ring: 51, 50%, 64.9%;
    /* Focus ring color, derived from primary */
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}